@media (max-width: 1850px) {
  .learn-more-but-1 {
    left: 44%; 
    transform: translate(-32%,340%);     
    
  }
  
  .shop-iphone-but {
    left: 44%; 
    transform: translate(-32%,340%);  
    margin-left: 157px;
  }
}

@media (max-width: 1745px) {
  .shop-but {
    left: 47%; 
    transform: translate(0,1000%);
  }

  .learn-more-but-2 {
    left: 45%; 
    transform: translate(-32%,410%); 
  }

  .buy-but-1 {
    left: 45%; 
    transform: translate(-32%,410%); 
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,460%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,400%);
  }

  .learn-more-but-4 {
    left: 21%; 
    transform: translate(-32%,402%);
  }

  .buy-but-2 {
    left: 21%; 
    transform: translate(-32%,402%);
    margin-left: 110px;
   
  }

  .learn-more-but-5 {
    left: 71%; 
    transform: translate(-32%,402%);
  }

  .buy-but-3 {
    left: 71%; 
    transform: translate(-32%,402%);
    margin-left: 110px;
  }

  .learn-more-but-6 {
    left: 21%; 
    transform: translate(-32%,440%);
  }

  .buy-but-4 {
    left: 21%; 
    transform: translate(-32%,440%);
    margin-left: 110px;
  }

  .get-estimate-but {
    left: 74%; 
    transform: translate(-32%,460%);
  }

}

@media (max-width: 1680px) {
  .learn-more-but-1 {
    left: 44%; 
    transform: translate(-32%,310%);     
  }
  
  .shop-iphone-but {
    left: 45%; 
    transform: translate(-32%,310%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 47%; 
    transform: translate(0,980%);
  }

  .learn-more-but-2 {
    left: 45%; 
    transform: translate(-32%,400%); 
  }

  .buy-but-1 {
    left: 45%; 
    transform: translate(-32%,400%); 
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,440%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-4 {
    left: 21%; 
    transform: translate(-32%,370%);
  }

  .buy-but-2 {
    left: 21%; 
    transform: translate(-32%,370%);
    margin-left: 110px;
   
  }

  .learn-more-but-5 {
    left: 71%; 
    transform: translate(-32%,370%);
  }

  .buy-but-3 {
    left: 71%; 
    transform: translate(-32%,370%);
    margin-left: 110px;
  }

  .learn-more-but-6 {
    left: 21%; 
    transform: translate(-32%,420%);
  }

  .buy-but-4 {
    left: 21%; 
    transform: translate(-32%,420%);
    margin-left: 110px;
  }

  .get-estimate-but {
    left: 74%; 
    transform: translate(-32%,440%);
  }

}

@media (max-width: 1575px) {
  .learn-more-but-1 {
    left: 44%; 
    transform: translate(-32%,300%);     
  }
  
  .shop-iphone-but {
    left: 45%; 
    transform: translate(-32%,300%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 47%; 
    transform: translate(0,920%);
  }

  .learn-more-but-2 {
    left: 45%; 
    transform: translate(-32%,380%); 
  }

  .buy-but-1 {
    left: 45%; 
    transform: translate(-32%,380%); 
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,420%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-4 {
    left: 21%; 
    transform: translate(-32%,350%);
  }

  .buy-but-2 {
    left: 21%; 
    transform: translate(-32%,350%);
    margin-left: 110px;
  }

  .learn-more-but-5 {
    left: 71%; 
    transform: translate(-32%,350%);
  }

  .buy-but-3 {
    left: 71%; 
    transform: translate(-32%,350%);
    margin-left: 110px;
  }

  .learn-more-but-6 {
    left: 21%; 
    transform: translate(-32%,400%);
  }

  .buy-but-4 {
    left: 21%; 
    transform: translate(-32%,400%);
    margin-left: 110px;
  }

  .get-estimate-but {
    left: 74%; 
    transform: translate(-32%,420%);
  }
}

@media (max-width: 1500px) {
  .learn-more-but-1 {
    left: 44%; 
    transform: translate(-32%,280%);     
  }
  
  .shop-iphone-but {
    left: 45%; 
    transform: translate(-32%,280%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 47%; 
    transform: translate(0,870%);
  }

  .learn-more-but-2 {
    left: 45%; 
    transform: translate(-32%,350%); 
  }

  .buy-but-1 {
    left: 45%; 
    transform: translate(-32%,350%); 
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,400%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,330%);
  }

  .learn-more-but-4 {
    left: 21%; 
    transform: translate(-32%,330%);
  }

  .buy-but-2 {
    left: 21%; 
    transform: translate(-32%,330%);
    margin-left: 110px;
  }

  .learn-more-but-5 {
    left: 71%; 
    transform: translate(-32%,330%);
  }

  .buy-but-3 {
    left: 71%; 
    transform: translate(-32%,330%);
    margin-left: 110px;
  }

  .learn-more-but-6 {
    left: 21%; 
    transform: translate(-32%,380%);
  }

  .buy-but-4 {
    left: 21%; 
    transform: translate(-32%,380%);
    margin-left: 110px;
  }

  .get-estimate-but {
    left: 74%; 
    transform: translate(-32%,400%);
  }
}

@media (max-width: 1400px) {
  .learn-more-but-1 {
    height: 45px;
    line-height: 14px;
    left: 43%; 
    transform: translate(-32%,260%);     
  }
  
  .shop-iphone-but {
    height: 45px;
    line-height: 14px;
    left: 43%; 
    transform: translate(-32%,260%);  
    margin-left: 150px;
  }

  .shop-but {
    height: 45px;
    line-height: 14px;
    left: 46%; 
    transform: translate(0,850%);
  }

  .learn-more-but-2 {
    height: 45px;
    line-height: 14px;
    left: 44%; 
    transform: translate(-32%,350%); 
  }

  .buy-but-1 {
    height: 45px;
    line-height: 14px;
    left: 44%; 
    transform: translate(-32%,350%); 
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,380%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,310%);
  }

  .learn-more-but-4 {
    left: 21%; 
    transform: translate(-32%,310%);
  }

  .buy-but-2 {
    left: 21%; 
    transform: translate(-32%,310%);
    margin-left: 110px;
  }

  .learn-more-but-5 {
    left: 71%; 
    transform: translate(-32%,310%);
  }

  .buy-but-3 {
    left: 71%; 
    transform: translate(-32%,310%);
    margin-left: 110px;
  }

  .learn-more-but-6 {
    left: 21%; 
    transform: translate(-32%,360%);
  }

  .buy-but-4 {
    left: 21%; 
    transform: translate(-32%,360%);
    margin-left: 110px;
  }

  .get-estimate-but {
    left: 74%; 
    transform: translate(-32%,380%);
  }
}



/*LAPTOP: 1280px*/
@media (max-width: 1290px) {
  .learn-more-but-1 {
    font-size: 16px;
    width: 128px;
    height: 40px;
   
    left: 43%; 
    transform: translate(-32%,280%);    
    
  }
  
  .shop-iphone-but {
    font-size: 16px;
    width: 128px;
    height: 40px;
    
    left: 43%; 
    transform: translate(-32%,280%);  
    margin-left: 137px;
  }

  .shop-but {
    font-size: 16px;
    width: 76px;
    height: 40px;
   
    left: 46%; 
    transform: translate(0,870%);
  }

  .learn-more-but-2 {
    font-size: 16px;
    width: 125px;
    height: 40px;
    
    left: 44%;  
    transform: translate(-32%,350%);
  }

  .buy-but-1 {
    font-size: 16px;
    width: 70px;
    height: 40px;

    left: 44%;  
    transform: translate(-32%,350%);
    margin-left: 125px;
  }

  .explore-but {
    font-size: 13px;
    width: 78px;
    height: 35px;

    left: 24%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-3 {
    font-size: 13px;
    width: 100px;
    height: 35px;

    left: 74%; 
    transform: translate(-32%,290%);
  }

  .learn-more-but-4 {
    font-size: 13px;
    width: 100px;
    height: 35px;

    left: 20%; 
    transform: translate(-32%,300%);
  }

  .buy-but-2 {
    font-size: 13px;
    height: 35px;
    width: 57px;

    left: 20%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    font-size: 13px;
    width: 100px;
    height: 35px;

    left: 70%; 
    transform: translate(-32%,300%);
  }

  .buy-but-3 {
    font-size: 13px;
    height: 35px;
    width: 57px;

    left: 70%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    font-size: 13px;
    width: 100px;
    height: 35px;

    left: 20%; 
    transform: translate(-32%,340%);
  }

  .buy-but-4 {
    font-size: 13px;
    height: 35px;
    width: 57px;

    left: 20%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .get-estimate-but {
    font-size: 13px;
    width: 140px;
    height: 35px;

    left: 73%; 
    transform: translate(-32%,350%);
  }

 
}

@media (max-width: 1199px) {
  .learn-more-but-1 {
    left: 42%; 
    transform: translate(-32%,390%);    
  }

  .shop-iphone-but {
    left: 42%; 
    transform: translate(-32%,390%);  
    margin-left: 145px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1700%);
  }

  .learn-more-but-2 {
    left: 43%;  
    transform: translate(-32%,700%);
  }

  .buy-but-1 {
    left: 43%;  
    transform: translate(-32%,700%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,490%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,450%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,380%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,380%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 69%; 
    transform: translate(-32%,380%);
  }

  .buy-but-3 {
    left: 69%; 
    transform: translate(-32%,380%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 20%; 
    transform: translate(-32%,400%);
  }

  .buy-but-4 {
    left: 20%; 
    transform: translate(-32%,400%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 73%; 
    transform: translate(-32%,450%);
  }
}

@media (max-width: 1063px) {
  .nav-text {
    padding-right: 30px;
  }
}

@media (max-width: 1150px) {
  .learn-more-but-1 {
    left: 42%; 
    transform: translate(-32%,390%);    
  }

  .shop-iphone-but {
    left: 42%; 
    transform: translate(-32%,390%);  
    margin-left: 145px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1600%);
  }

  .learn-more-but-2 {
    left: 43%;  
    transform: translate(-32%,700%);
  }

  .buy-but-1 {
    left: 43%;  
    transform: translate(-32%,700%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,490%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,450%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,380%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,380%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 69%; 
    transform: translate(-32%,380%);
  }

  .buy-but-3 {
    left: 69%; 
    transform: translate(-32%,380%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 20%; 
    transform: translate(-32%,400%);
  }

  .buy-but-4 {
    left: 20%; 
    transform: translate(-32%,400%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 73%; 
    transform: translate(-32%,450%);
  }
}


@media (max-width: 1024px) {
  .learn-more-but-1 {
    left: 41%; 
    transform: translate(-32%,350%);    
  }

  .shop-iphone-but {
    left: 41%; 
    transform: translate(-32%,350%);  
    margin-left: 145px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1450%);
  }

  .learn-more-but-2 {
    left: 42%;  
    transform: translate(-32%,600%);
  }

  .buy-but-1 {
    left: 42%;  
    transform: translate(-32%,600%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,430%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,390%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,340%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 68%; 
    transform: translate(-32%,340%);
  }

  .buy-but-3 {
    left: 68%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 19%; 
    transform: translate(-32%,360%);
  }

  .buy-but-4 {
    left: 19%; 
    transform: translate(-32%,360%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 72%; 
    transform: translate(-32%,400%);
  }
}


/*972px*/
@media (max-width: 972px) {

  main {
    width: 100%;
  }

  .nav-text {
    padding-right: 31px;
  }

  .learn-more-but-1 {
    left: 41%; 
    transform: translate(-32%,330%);    
  }

  .shop-iphone-but {
    left: 41%; 
    transform: translate(-32%,330%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1360%);
  }

  .learn-more-but-2 {
    left: 42%;  
    transform: translate(-32%,570%);
  }

  .buy-but-1 {
    left: 42%;  
    transform: translate(-32%,570%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,410%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,310%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,310%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 68%; 
    transform: translate(-32%,310%);
  }

  .buy-but-3 {
    left: 68%; 
    transform: translate(-32%,310%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 19%; 
    transform: translate(-32%,340%);
  }

  .buy-but-4 {
    left: 19%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 72%; 
    transform: translate(-32%,380%);
  }

  .footer {
    width: 100%;
    
  }

  .footer-container {
    width: 100%;
  }

  .top-container {
    width: 96%;
    
  }
  
  .line {
    width: 96%;
  }

  .bottom {
    width: 96%;
    
  }

  .line-3 {
    width: 96%;
  }

  .footer-column {
    width: 100%;
  }

  .all-links {
    width: 100%;
  }

  .tel {
    width: 96%;
    
  }

  .ip {
    width: 96%;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    
  }

  .copyright {
    margin-bottom: 0;
  }

  .ip-middle {
    padding-top: 8px;
    color: #525252;
  }

  .legal-links {
    margin-top: 0;
    
  }

  .link-div {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 943px) {
  nav {
    padding: 0 18px 9px;
  }

  .nav-text {
    padding-right: 25px;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0 18px 9px;
  }

  .nav-text {
    padding-right: 23px;
  }

  .learn-more-but-1 {
    left: 41%; 
    transform: translate(-32%,310%);    
  }

  .shop-iphone-but {
    left: 41%; 
    transform: translate(-32%,310%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1250%);
  }

  .learn-more-but-2 {
    left: 42%;  
    transform: translate(-32%,540%);
  }

  .buy-but-1 {
    left: 42%;  
    transform: translate(-32%,540%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,390%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,290%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,290%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 68%; 
    transform: translate(-32%,290%);
  }

  .buy-but-3 {
    left: 68%; 
    transform: translate(-32%,290%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 19%; 
    transform: translate(-32%,320%);
  }

  .buy-but-4 {
    left: 19%; 
    transform: translate(-32%,320%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 72%; 
    transform: translate(-32%,360%);
  }
}

@media (max-width: 882px) {
  .nav-text {
    padding-right: 22px;
  }
}

@media (max-width: 868px) {
  .nav-text {
    padding-right: 21px;
  }

  .learn-more-but-1 {
    left: 41%; 
    transform: translate(-32%,290%);    
  }

  .shop-iphone-but {
    left: 41%; 
    transform: translate(-32%,290%);  
    margin-left: 137px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1230%);
  }

  .learn-more-but-2 {
    left: 42%;  
    transform: translate(-32%,520%);
  }

  .buy-but-1 {
    left: 42%;  
    transform: translate(-32%,520%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,330%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,270%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,270%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 68%; 
    transform: translate(-32%,270%);
  }

  .buy-but-3 {
    left: 68%; 
    transform: translate(-32%,270%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 19%; 
    transform: translate(-32%,300%);
  }

  .buy-but-4 {
    left: 19%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 72%; 
    transform: translate(-32%,340%);
  }

}

@media (max-width: 857px) {
  .nav-text {
    padding-right: 20px;
  }
}

@media (max-width: 850px) {
  .nav-text {
    padding-right: 19px;
  }

  .learn-more-but-1 {
    left: 40%; 
    transform: translate(-32%,280%);    
  }

  .shop-iphone-but {
    left: 40%; 
    transform: translate(-32%,280%);  
    margin-left: 142px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1210%);
  }

  .learn-more-but-2 {
    left: 40%;  
    transform: translate(-32%,500%);
  }

  .buy-but-1 {
    left: 40%;  
    transform: translate(-32%,500%);
    margin-left: 125px;
  }

  .explore-but {
    left: 24%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-3 {
    left: 74%; 
    transform: translate(-32%,310%);
  }

  .learn-more-but-4 {
    left: 19%; 
    transform: translate(-32%,270%);
  }

  .buy-but-2 {
    left: 19%; 
    transform: translate(-32%,270%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 67%; 
    transform: translate(-32%,270%);
  }

  .buy-but-3 {
    left: 67%; 
    transform: translate(-32%,270%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 19%; 
    transform: translate(-32%,290%);
  }

  .buy-but-4 {
    left: 19%; 
    transform: translate(-32%,290%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 72%; 
    transform: translate(-32%,330%);
  }
}

@media (max-width: 833px) {
  .nav-text {
    padding-right: 18px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1180%);
  }
}

@media (max-width: 823px) {
  .nav-text {
    padding-right: 17px;
  }
}


@media (max-width: 820px) {
  nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    padding: 0 2px 9px;
    
  }

  .nav-bar {
    display: none;
  }

  .apple-logo {
    position: absolute;
    left: 16px;
    top: 2px;
    height: 18px;
  }

  .logo {
    position: absolute;
    right: 16px;
    top: 2px;
    
  }

  .hamburger-logo {
    display: initial;
    margin-left: 25px;
    
  }

  main {
    padding-top: 38px;
    padding-bottom: 8px;
  }
}



/* SM PHONE LANDSCAPE: 768px*/
@media (max-width: 768px) {

  nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    
  }

  .nav-bar {
    display: none;
  }

  .apple-logo {
    position: absolute;
    left: 16px;
    top: 2px;
    height: 18px;
  }

  .logo {
    position: absolute;
    right: 16px;
    top: 2px;
    
  }

  .hamburger-logo {
    display: initial;
    margin-left: 25px;
    
  }

  main {
    padding-top: 38px;
    padding-bottom: 8px;
  }

  .banner-img {
    width: 100%;
  }

  picture {
    margin: 0;
   
  }

  source {
    margin: 0;
  }

  .grid {
    gap: 12px;
    margin: 0 12px 0;
  }

  .learn-more-but-1 {
    left: 39%;  
    transform: translate(-32%,320%); 
  }

  .shop-iphone-but {
    left: 39%;  
    transform: translate(-32%,320%); 
    margin-left: 140px;
  }

  .shop-but {
    left: 47%;  
    transform: translate(-32%,1150%);
  }

  .learn-more-but-2 {
    left: 40%;  
    transform: translate(-32%,500%);
  }

  .buy-but-1 {
    left: 40%;  
    transform: translate(-32%,500%);
    margin-left: 125px;
  }

  .explore-but {
    left: 23%; 
    transform: translate(-32%,400%);
  }

  .learn-more-but-3 {
    left: 72%; 
    transform: translate(-32%,480%);
  }

  .learn-more-but-4 {
    left: 17%; 
    transform: translate(-32%,300%);
  }

  .buy-but-2 {
    left: 17%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 67%; 
    transform: translate(-32%,300%);
  }

  .buy-but-3 {
    left: 67%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 17%; 
    transform: translate(-32%,340%);
  }

  .buy-but-4 {
    left: 17%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 71%; 
    transform: translate(-32%,370%);
  }

  footer {
    height: auto;
  }
  
  .top-container {
    display: flex;
    width: 100%;
    
  }

  .top p {
    padding: 0 16px;
    font-size: 12px;
  }

  .bottom {
    width: 100%;
  }

  .all-links {
    grid-template-columns: 1fr;
    width: 96%;
    margin-top: 10px;
  }

  .footer-column {
    margin: 0 16px;
  }

  .footer-column p {
    font-size: 12px;
    color: #525252;
    margin-top: 12px;
    
  }

  .column-title {
    display: flex;
    flex-direction: row;
    height: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
  }

  .toggle-logo {
    display: flex;
    height: 7px;
    display: flex;
  }

  .row-divider {
    padding-top: 0;
  }

  li {
    display: none;
  }


  .line {
    width: 96%;
    margin-bottom: 10px;
  }

  .line-2 {
    height: 0.5px;
    width: 100%;
    display: block;
    margin-top: 0;
    
  }

  .line-3 {
    display: none;
  }

  .tel {
    font-size: 12px;
    padding: 0 16px;
    width: 96%;
    margin-top: 20px;
    
  }

  .ip {
    display: flex;
    flex-direction: column;
    width: 96%;
    row-gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .copyright {
    padding-top: 20px;
    font-size: 12px;
  }

  .ip-middle {
    padding-top: 8px;
    color: #525252;
    order: 3;
    
  }

  .legal-links {
    margin-top: 0;
    font-size: 12px;
  }

  .link-div {
    margin-top: 0;
    margin-bottom: 0;
  }

  .location {
    color: #525252;
    font-size: 12px;
  }

  .copyright-container {
    order: 2;
  }

  .location-container {
    order: 1;
  }

  .copyright, 
  .ip-middle, 
  .location {
    margin: 0;
  }
    
}

@media (max-width: 730px) {
  .learn-more-but-1 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;
   
    left: 39%; 
    transform: translate(-32%,300%);    
  }

  .shop-iphone-but {
    font-size: 14px;
    width: 113px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;
    
    left: 39%; 
    transform: translate(-32%,300%);  
    margin-left: 120px;
  }

  .shop-but {
    font-size: 14px;
    width: 70px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;
   
    left: 45%; 
    transform: translate(0,1200%);
  }

  .learn-more-but-2 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;
    
    left: 41%;  
    transform: translate(-32%,400%);
  }

  .buy-but-1 {
    font-size: 14px;
    width: 60px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 41%;  
    transform: translate(-32%,400%);
    margin-left: 105px;
  }

  .explore-but {
    font-size: 14px;
    width: 80px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 48%; 
    transform: translate(-32%,390%);
  }

  .learn-more-but-3 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 47%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-4 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 41%; 
    transform: translate(-32%,340%);
  }

  .buy-but-2 {
    font-size: 14px;
    width: 60px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 41%; 
    transform: translate(-32%,340%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 41%; 
    transform: translate(-32%,330%);
  }

  .buy-but-3 {
    font-size: 14px;
    width: 60px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;


    left: 41%; 
    transform: translate(-32%,330%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    font-size: 14px;
    width: 105px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 41%; 
    transform: translate(-32%,330%);
  }

  .buy-but-4 {
    font-size: 14px;
    width: 60px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;


    left: 41%; 
    transform: translate(-32%,330%);
    margin-left: 105px;
  }

  .get-estimate-but {
    font-size: 14px;
    width: 145px;
    height: 36px;
    padding: 7px 15px;
    line-height: 13px;

    left: 46%; 
    transform: translate(-32%,350%);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    gap: 5px;
  }

  .tel {
    width: 95%;
  }

  .ip {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .shop-but {
    left: 45%; 
    transform: translate(0,1140%);
  }
}

@media (max-width: 675px) {
  .learn-more-but-1 {
    left: 39%; 
    transform: translate(-32%,280%);    
  }

  .shop-iphone-but {
    left: 39%; 
    transform: translate(-32%,280%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1100%);
  }

  .learn-more-but-2 {
    left: 41%;  
    transform: translate(-32%,380%);
  }

  .buy-but-1 {
    left: 41%;  
    transform: translate(-32%,380%);
    margin-left: 105px;
  }

  .explore-but {
    left: 48%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-3 {
    left: 47%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-4 {
    left: 41%; 
    transform: translate(-32%,320%);
  }

  .buy-but-2 {
    left: 41%; 
    transform: translate(-32%,320%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 41%; 
    transform: translate(-32%,310%);
  }

  .buy-but-3 {
    left: 41%; 
    transform: translate(-32%,310%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 41%; 
    transform: translate(-32%,310%);
  }

  .buy-but-4 {
    left: 41%; 
    transform: translate(-32%,310%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 46%; 
    transform: translate(-32%,330%);
  }
}

@media (max-width: 645px) {
  .learn-more-but-1 {
    left: 39%; 
    transform: translate(-32%,270%);    
  }

  .shop-iphone-but {
    left: 39%; 
    transform: translate(-32%,270%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 45%; 
    transform: translate(0,1050%);
  }

  .learn-more-but-2 {
    left: 41%;  
    transform: translate(-32%,360%);
  }

  .buy-but-1 {
    left: 41%;  
    transform: translate(-32%,360%);
    margin-left: 105px;
  }

  .explore-but {
    left: 48%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-3 {
    left: 47%; 
    transform: translate(-32%,330%);
  }

  .learn-more-but-4 {
    left: 41%; 
    transform: translate(-32%,300%);
  }

  .buy-but-2 {
    left: 41%; 
    transform: translate(-32%,300%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 41%; 
    transform: translate(-32%,290%);
  }

  .buy-but-3 {
    left: 41%; 
    transform: translate(-32%,290%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 41%; 
    transform: translate(-32%,300%);
  }

  .buy-but-4 {
    left: 41%; 
    transform: translate(-32%,300%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 46%; 
    transform: translate(-32%,310%);
  }
}

@media (max-width: 605px) {
  .learn-more-but-1 {
    left: 38%; 
    transform: translate(-32%,250%);    
  }

  .shop-iphone-but {
    left: 38%; 
    transform: translate(-32%,250%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 44%; 
    transform: translate(0,990%);
  }

  .learn-more-but-2 {
    left: 40%;  
    transform: translate(-32%,340%);
  }

  .buy-but-1 {
    left: 40%;  
    transform: translate(-32%,340%);
    margin-left: 105px;
  }

  .explore-but {
    left: 47%; 
    transform: translate(-32%,330%);
  }

  .learn-more-but-3 {
    left: 47%; 
    transform: translate(-32%,310%);
  }

  .learn-more-but-4 {
    left: 40%; 
    transform: translate(-32%,280%);
  }

  .buy-but-2 {
    left: 40%; 
    transform: translate(-32%,280%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 40%; 
    transform: translate(-32%,270%);
  }

  .buy-but-3 {
    left: 40%; 
    transform: translate(-32%,270%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 40%; 
    transform: translate(-32%,280%);
  }

  .buy-but-4 {
    left: 40%; 
    transform: translate(-32%,280%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 46%; 
    transform: translate(-32%,300%);
  }
}

@media (max-width: 585px) {
  .learn-more-but-1 {
    left: 37%; 
    transform: translate(-32%,280%);    
  }

  .shop-iphone-but {
    left: 37%; 
    transform: translate(-32%,280%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 47%; 
    transform: translate(-32%,1170%);
  }

  .learn-more-but-2 {
    left: 40%;  
    transform: translate(-32%,380%);
  }

  .buy-but-1 {
    left: 40%;  
    transform: translate(-32%,380%);
    margin-left: 105px;
  }

  .explore-but {
    left: 47%; 
    transform: translate(-32%,390%);
  }

  .learn-more-but-3 {
    left: 47%; 
    transform: translate(-32%,380%);
  }

  .learn-more-but-4 {
    left: 38%; 
    transform: translate(-32%,330%);
  }

  .buy-but-2 {
    left: 38%; 
    transform: translate(-32%,330%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 38%; 
    transform: translate(-32%,310%);
  }

  .buy-but-3 {
    left: 38%; 
    transform: translate(-32%,310%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 39%; 
    transform: translate(-32%,330%);
  }

  .buy-but-4 {
    left: 39%; 
    transform: translate(-32%,330%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 46%; 
    transform: translate(-32%,380%);
  }
}

@media (max-width: 557px) {
  .shop-but {
    left: 47%; 
    transform: translate(-32%,1100%);
  }
  
}


@media (max-width: 560px) {

  .footer-column {
    margin-right: 0;
  }

  .line-2 {
    width: 99%;
  }

  .tel {
    padding-right: 0;
  }

  .column-title {
    width: 99%;
  }

  .copyright-container {
    margin-left: 0;
  }

}

@media (max-width: 520px) {
  .learn-more-but-1 {
    left: 36%; 
    transform: translate(-32%,260%);    
  }

  .shop-iphone-but {
    left: 36%; 
    transform: translate(-32%,260%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 46%; 
    transform: translate(-32%,1050%);
  }

  .learn-more-but-2 {
    left: 39%;  
    transform: translate(-32%,350%);
  }

  .buy-but-1 {
    left: 39%;  
    transform: translate(-32%,350%);
    margin-left: 105px;
  }

  .explore-but {
    left: 47%; 
    transform: translate(-32%,360%);
  }

  .learn-more-but-3 {
    left: 47%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-4 {
    left: 37%; 
    transform: translate(-32%,300%);
  }

  .buy-but-2 {
    left: 37%; 
    transform: translate(-32%,300%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 38%; 
    transform: translate(-32%,300%);
  }

  .buy-but-3 {
    left: 38%; 
    transform: translate(-32%,300%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 38%; 
    transform: translate(-32%,300%);
  }

  .buy-but-4 {
    left: 38%; 
    transform: translate(-32%,300%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 45%; 
    transform: translate(-32%,340%);
  }

  .ip-middle {
    display: flex;
    width: auto;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 5px;
  }

  .legal-links {
    white-space: nowrap;
  }

  .tel {
    padding-left: 0;
  }


}

@media (max-width: 485px) {
  .learn-more-but-1 {
    left: 35%; 
    transform: translate(-32%,240%);    
  }

  .shop-iphone-but {
    left: 35%; 
    transform: translate(-32%,240%);  
    margin-left: 120px;
  }

  .shop-but {
    left: 46%; 
    transform: translate(-32%,950%);
  }

  .learn-more-but-2 {
    left: 38%;  
    transform: translate(-32%,330%);
  }

  .buy-but-1 {
    left: 38%;  
    transform: translate(-32%,330%);
    margin-left: 105px;
  }

  .explore-but {
    left: 47%; 
    transform: translate(-32%,340%);
  }

  .learn-more-but-3 {
    left: 46%; 
    transform: translate(-32%,330%);
  }

  .learn-more-but-4 {
    left: 36%; 
    transform: translate(-32%,280%);
  }

  .buy-but-2 {
    left: 36%; 
    transform: translate(-32%,280%);
    margin-left: 105px;
  }

  .learn-more-but-5 {
    left: 37%; 
    transform: translate(-32%,270%);
  }

  .buy-but-3 {
    left: 37%; 
    transform: translate(-32%,270%);
    margin-left: 105px;
  }

  .learn-more-but-6 {
    left: 37%; 
    transform: translate(-32%,280%);
  }

  .buy-but-4 {
    left: 37%; 
    transform: translate(-32%,280%);
    margin-left: 105px;
  }

  .get-estimate-but {
    left: 44%; 
    transform: translate(-32%,320%);
  }
}

@media (max-width: 468px) {

  .footer-column {
    margin-right: 0;
  }

  .line-2 {
    width: 99%;
  }

  .tel {
    padding-right: 0;
    padding-left: 12px;
  }

  .column-title {
    width: 99%;
  }

  .ip {
    padding-left: 12px;
  }


  
}

@media (max-width: 425px) {
  .learn-more-but-1 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 33%;  
    transform: translate(-32%,270%); 
  }

  .shop-iphone-but {
    font-size: 13px;
    width: 105px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%;  
    transform: translate(-32%,270%);  
    margin-left: 105px;
  }

  .shop-but {
    font-size: 13px;
    width: 65px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;
    
    left: 46%;  
    transform: translate(-32%,1090%);
  }

  .learn-more-but-2 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%;  
    transform: translate(-32%,380%);
  }

  .buy-but-1 {
    font-size: 13px;
    width: 60px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%;  
    transform: translate(-32%,380%);
    margin-left: 100px;
  }

  .explore-but {
    font-size: 13px;
    width: 80px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 45%; 
    transform: translate(-32%,370%);
  }

  .learn-more-but-3 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 45%; 
    transform: translate(-32%,360%);
  }

  .learn-more-but-4 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,320%);
  }

  .buy-but-2 {
    font-size: 13px;
    width: 60px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,320%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,300%);
  }

  .buy-but-3 {
    font-size: 13px;
    width: 60px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    font-size: 13px;
    width: 100px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,320%);
  }

  .buy-but-4 {
    font-size: 13px;
    width: 60px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 35%; 
    transform: translate(-32%,320%);
    margin-left: 100px;
  }

  .get-estimate-but {
    font-size: 13px;
    width: 135px;
    height: 35px;
    padding: 7px 15px;
    line-height: 14px;

    left: 45%; 
    transform: translate(-32%,370%);
  }

  .line {
    width: 94%;
  }

  .column-title {
    width: 97%;
  }

  .line-2 {
    width: 97%;
  }

  .chatbox-button {
    width: 65px;
    height: 65px;
    background-color: black;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    display: grid;
    grid-template-columns: 70px 1fr;

    cursor: pointer;
  }
  
  .icon {
    display: none;
  }

  .icon img {
    display: none;
  }

  .question-mark {
    display: block;
    color: #F5F5F7;
    font-family: "SF Pro";
    font-size: 50px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    letter-spacing: -1.92px;
    margin: 0;
    padding: 3px 0 0 20px;
  }

  .chat-name {
    display: none;
  }


  .chatbox {
    display: none;
  }


}

@media (max-width: 375px) {
.learn-more-but-1 {
    left: 32%;  
    transform: translate(-32%,300%); 
  }

  .shop-iphone-but {
    left: 34%;  
    transform: translate(-32%,300%);  
    margin-left: 105px;
  }

  .shop-but {
    left: 45%;  
    transform: translate(-32%,1200%);
  }

  .learn-more-but-2 {
    left: 34%;  
    transform: translate(-32%,410%);
  }

  .buy-but-1 {
    left: 34%;  
    transform: translate(-32%,410%);
    margin-left: 100px;
  }

  .explore-but {
    left: 46%; 
    transform: translate(-32%,400%);
  }

  .learn-more-but-3 {
    left: 45%; 
    transform: translate(-32%,400%);
  }

  .learn-more-but-4 {
    left: 34%; 
    transform: translate(-32%,350%);
  }

  .buy-but-2 {
    left: 34%; 
    transform: translate(-32%,350%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 34%; 
    transform: translate(-32%,340%);
  }

  .buy-but-3 {
    left: 34%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 34%; 
    transform: translate(-32%,340%);
  }

  .buy-but-4 {
    left: 34%; 
    transform: translate(-32%,340%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 44%; 
    transform: translate(-32%,400%);
  }

  .footer-column {
    margin: 0 14px;
  }
}

@media (max-width: 320px) {
  .learn-more-but-1 {
    left: 29%;  
    transform: translate(-32%,260%); 
  }

  .shop-iphone-but {
    left: 31%;  
    transform: translate(-32%,260%);  
    margin-left: 105px;
  }

  .shop-but {
    left: 45%;  
    transform: translate(-32%,1030%);
  }

  .learn-more-but-2 {
    left: 32%;  
    transform: translate(-32%,360%);
  }

  .buy-but-1 {
    left: 32%;  
    transform: translate(-32%,360%);
    margin-left: 100px;
  }

  .explore-but {
    left: 46%; 
    transform: translate(-32%,360%);
  }

  .learn-more-but-3 {
    left: 45%; 
    transform: translate(-32%,350%);
  }

  .learn-more-but-4 {
    left: 32%; 
    transform: translate(-32%,300%);
  }

  .buy-but-2 {
    left: 32%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .learn-more-but-5 {
    left: 32%; 
    transform: translate(-32%,290%);
  }

  .buy-but-3 {
    left: 32%; 
    transform: translate(-32%,290%);
    margin-left: 100px;
  }

  .learn-more-but-6 {
    left: 32%; 
    transform: translate(-32%,300%);
  }

  .buy-but-4 {
    left: 32%; 
    transform: translate(-32%,300%);
    margin-left: 100px;
  }

  .get-estimate-but {
    left: 43%; 
    transform: translate(-32%,350%);
  }

  .line {
    width: 90.7%;
    
  }

  .footer-column {
    width: 96%;
  }

  .column-title {
    width: 98%;
  }

  .line-2 {
    width: 98%;
  }

  .tel {
    width: 92%;
    padding-left: 4px;
  }
}